@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkThemeMainColor: #030A31;
  --lightThemeMainColor: #ffffff;

  --ellipseGradientLight: radial-gradient(
          circle,
          rgba(255, 192, 0, .8) 0%,  /* Yellow with 100% opacity at center */
          rgba(255, 255, 255, 0) 87% /* Transparent white at 87% */
  );

  --buttonGradientStyle1: linear-gradient(to bottom, #FADB01, #F78701);
  --buttonGradientStyle2: linear-gradient(to bottom, #9766FF, #5B3D99);

  --ellipseGradientDark: radial-gradient(
          circle,
          rgba(255, 192, 0, 1) 0%,    /* Yellow with 100% opacity */
          rgba(3, 10, 49, 0) 87%      /* Transparent dark blue (#030A31) at 87% */
  );

  --leftEllipseGradientLight: radial-gradient(
          circle,
          rgba(151, 102, 255, 0.56) 0%, /* Purple with 56% opacity at center */
          rgba(255, 255, 255, 0) 100%   /* Transparent white at 100% */
  );

  --leftEllipseGradientDark: radial-gradient(
          circle,
          rgba(151, 102, 255, 0.56) 0%, /* Purple with 56% opacity at center */
          rgba(3, 10, 49, 0) 100%       /* Transparent dark blue (#030A31) at 100% */
  );
  --gridColorLight: rgba(225, 231, 246, 0.5); /* Color with some opacity */
  --gridColorDark: rgba(17, 26, 81, 0.95); /* Color with some opacity */

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-gradient: repeating-linear-gradient(90deg,  rgba(131,58,180,1), rgba(253,29,29,1), rgb(252, 103, 69),rgba(253,29,29,1), rgba(131,58,180,1));

  --swiper-theme-color: rgba(131,58,180,1) !important;


  --progressMainColor: #F78501;
  --progressSecondColor: rgb(255, 247, 232);
  --progressMainColorDark: rgba(91, 61, 153, 0.95);
  --progressSecondColorDark: #10173F;


  --embossed-cirrcle-shadow:-20px -20px 40px rgba(0, 0, 0, 0.43), /* Top-left highlight */
  20px 20px 40px rgba(0, 0, 0, 0.3), /* Bottom-right shadow */
  inset 3px 3px 5px rgba(255, 255, 255, 0.05); /* Inner highlight */

  --progress-circle-shadow: 0px 13px 20px 0px rgba(188, 201, 219, 0.18);

  --main-button-gradient: linear-gradient(90deg,
  rgba(255, 223, 186, 1), /* Light peach */
  rgba(255, 196, 79, 1),  /* Light mustard yellow */
  rgba(255, 184, 77, 1),  /* Amber yellow */
  rgba(255, 153, 51, 1),  /* Bright orange-yellow */
  rgba(255, 184, 77, 1),  /* Amber yellow */
  rgba(255, 196, 79, 1), /* Light mustard yellow */
  rgba(255, 223, 186, 1) /* Light peach */
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: transparent !important;
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}
.mainContainer {
  position: absolute;
  z-index: 2 !important;
  width: 100%;
}
.mainContainer.darkTheme {
  background: var(--darkThemeMainColor)
}
.mainContainer.lightTheme {
  background: var(--lightThemeMainColor)
}

button:focus {
  outline: none !important; /* Remove the default focus outline */
}


.top-right-ellipse-gradient {
  position: fixed;
  top: 0;
  right: 0;
  width: 917px;
  height: 917px;
  border-radius: 50%; /* To make sure it's a circle */
  transform: translate(50%, -50%); /* Adjusts position to keep only a quarter visible */
  z-index: 1; /* Send it behind other content */
  opacity: 0.20;
}
.top-right-ellipse-gradient.lightTheme {
  background: var(--ellipseGradientLight);
}
.top-right-ellipse-gradient.darkTheme {
  background: var(--ellipseGradientDark);
}

.left-ellipse-gradient {
  position: fixed;
  top: 10%;        /* Y position */
  left: -50%;      /* X position */
  width: 70%;     /* Width of the ellipse */
  height: 90%;    /* Height of the ellipse */
  border-radius: 50%; /* To make it a circle */
  opacity: 0.15;
  z-index: 1;       /* Ensure it's behind other elements */
}

.left-ellipse-gradient.lightTheme {
  background: var(--leftEllipseGradientLight);
  background-size: 100% 200%;
  background-repeat: repeat-y;  /* Repeat vertically */
}

.left-ellipse.darkTheme {
  background: var(--leftEllipseGradientDark);
  background-size: 100% 200%;
  background-repeat: repeat-y;  /* Repeat vertically */
}

.grid-container {
  position: absolute; /* Keep as absolute */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100vw; /* Full width */
  height: 100vh; /* Change to full viewport height if necessary */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-template-rows: repeat(7, 130px); /* Maintain your rows */
  gap: 0;
  z-index: 1; /* Ensure visibility */
}

.grid-item.darkTheme {
  border: 0.5px solid var(--gridColorDark); /* Border color */
}

.grid-item.lightTheme {
  border: 0.5px solid var(--gridColorLight); /* Border color */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes moveGradientBtn {
  0% {background-position: 1% 50%; }
  100% { background-position: 99% 50%; }
}

@keyframes moveGradient {
  0%{background-position:100% 50%}
  100%{background-position:-33% 50%}
}

.gradient-bg {
  background: var(--main-gradient);
  background-repeat:repeat-x;
  height: 100%;
  background-size: 400% 100%;
  animation: moveGradient 30s running infinite;
}

/*.lightTheme {*/
/*  background: var(--lightThemeMainColor);*/
/*}*/
/*.darkTheme {*/
/*  background: var(--darkThemeMainColor);*/
/*}*/

.gradient-btn-bg {
  background: var(--main-button-gradient);
  background-size: 300% 300%; /* Makes the gradient larger for smoother transitions */
  animation: moveGradientBtn 30s linear infinite; /* Linear to ensure smooth movement */
  color: #530816;
  background-repeat: round;
}

.hidden-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/*.swiper-button-prev {*/
/*  !* Custom styles *!*/
/*  color: #4caf50; !* Example color *!*/
/*}*/

/*.swiper-button-next {*/
/*  !* Custom styles *!*/
/*  color: #2196f3; !* Example color *!*/
/*}*/



.svg-pi-wrapper {
  position: relative;
}

/* Adding an outside emboss effect */
.svg-pi {
  transform: rotate(-90deg); /* Fix the orientation */
}

/* Animated spinner version */
.svg-pi-indicator--spinner {
  animation: spinner .75s linear infinite;
  transform-origin: center;
  filter: drop-shadow(-2px -2px 2px rgba(0, 0, 0, 0.25)) drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.5));
}

.svg-pi-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.svg-pi-label__loading {
  opacity: .5;
  font-size: 0.75em;
}

.svg-pi-label__progress {
  font-size: 1.5em;
  font-weight: bold;
}

.svg-pi-label__loading,
.svg-pi-label__progress {
  display: block;
}

/* Spinner animation */
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* modals */

/* flag switcher */
.flagWrapper img {
  height: 24px;
}

/* Example CSS for the modal */
.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
  width: 300px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

blockquote hr {
  border: none;
  height: 1px;
  max-width: 75%;
  background-color: rgba(255, 255, 0, 0.5);
  margin: 5px auto;
}

.enhanceText strong {
  background: var(--main-button-gradient);
  background-size: 200% 100%;
  animation: moveGradientBtn 30s running infinite;
  background-repeat: round;
  color: #530816;
  border-radius:4px;
  padding: .25rem;
  text-wrap: nowrap;
}

w3m-modal {
  z-index: 100
}


/* START ProgressCircle.css */

.embossed-circle {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  margin: 3rem auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Optional background color for contrast */
  /* background-color: #f9f9f9; */
  box-shadow:var(--progress-circle-shadow)
}

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: var(--progressMainColor);
  --secondary: var(--progressSecondColor);
  --size: 280px;
  --thickness: 38%;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
          from 0deg,
          #FDE957 calc(var(--percentage) * 1%),
          #F78501 calc(var(--percentage) * 1%),
          var(--secondary) calc(var(--percentage) * 1%), /* Adjust for secondary color */
          var(--secondary) 0
  );
  mask: radial-gradient(white var(--thickness), transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 var(--thickness), #000 0);
  -webkit-mask-mode: alpha;
}

/* Style for the progress text */
.progress-text {
  font-size: 2.5rem; /* Adjust this to control text size */
  color: black;
  font-weight: bold;
  z-index: 1; /* Ensures the text is above the pseudo-elements */
  position: relative;
}
.progress-text.lightTheme {
  color: #132C5E;
}
.progress-text.darkTheme {
  color: #ffffff;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  .embossed-circle {
    width: 260px;
    height: 260px;
  }
  [role="progressbar"] {
    --size: 200px; /* Smaller size for mobile devices */
  }

  .progress-text {
    font-size: 1.5rem; /* Smaller font size for mobile devices */
  }
}

.copyToClipboard {
  border: 1px solid #5046e5;
  background: #5046e5;
  padding: 10px 1rem;
  border-left: 0;
}

/*[role="progressbar"]::after {*/
/*  counter-reset: percentage var(--value);*/
/*  content: counter(percentage) '%';*/
/*  font-family: Helvetica, Arial, sans-serif;*/
/*  font-size: calc(var(--size) / 5);*/
/*  color: var(--primary);*/
/*}*/

/* END ProgressCircle.css */


.theme-switcher {
  width: 97px;
  height: 50px;
  border-radius: 30px;
  position: relative;
  padding: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.theme-switcher.lightTheme {
  background: #ffffff;
  border: 1px solid #E1E7F6;
}
.theme-switcher.darkTheme {
  background: #030A31;
  border: 1px solid #413569;
}


.switch-toggle {
  width: 42px;
  height: 42px;
  position: absolute;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.switch-toggle.lightTheme {
  transform: translateX(45px);
  background: linear-gradient(to bottom, #FFF5AD, #F88F02);
}

.switch-toggle.darkTheme {
  transform: translateX(1px);
  background: linear-gradient(to bottom, #C4A8FF, #081123);
}

.icon-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
}
.icon-wrapper.lightTheme {
  background: var(--buttonGradientStyle1);
}
.icon-wrapper.darkTheme {
  background: var(--buttonGradientStyle2);
}
