@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-gradient: repeating-linear-gradient(90deg,  rgba(131,58,180,1), rgba(253,29,29,1), rgb(252, 103, 69),rgba(253,29,29,1), rgba(131,58,180,1));
  --swiper-theme-color: rgba(131,58,180,1) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes moveGradient {
  0%{background-position:100% 50%}
  100%{background-position:-33% 50%}
}

.gradient-bg {
  background: var(--main-gradient);
  background-repeat:repeat-x;
  height: 100%;
  background-size: 400% 100%;
  animation: moveGradient 30s running infinite;
}

.hidden-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.enhanceText strong {
  background: black;
  color: white;
  border-radius:4px;
  padding: .25rem;
  text-wrap: nowrap;
}

.swiper-button-prev {
  /* Custom styles */
  color: #4caf50; /* Example color */
}

.swiper-button-next {
  /* Custom styles */
  color: #2196f3; /* Example color */
}