// variables.scss

//COLORS
$primary-color: #9766FF;
$secondary-color: #F78701;
$gradient1-secondary-color: #FADB01;
$gradient2-secondary-color: #5B3D99;

//GRADIENTS
$buttonGradientStyle1: linear-gradient(to bottom, $gradient1-secondary-color, $secondary-color);
$buttonGradientStyle2: linear-gradient(to bottom, $primary-color, $gradient2-secondary-color);
$buttonGradientColorStyleLight: #FFFFA4;
$buttonGradientStyleLight: linear-gradient(to bottom, $gradient1-secondary-color, $secondary-color);
$buttonGradientStyleDark: linear-gradient(to bottom, $primary-color, $gradient2-secondary-color);

//GRID EFFECT
$gridColorLight: rgba(225, 231, 246, 0.5); /* Color with some opacity */
$gridColorDark: rgba(17, 26, 81, 0.95); /* Color with some opacity */

//HEADER SCROLL BACKGROUND
$headerBackgroundScrollLight: rgba(247, 135, 1, 0.25);
$headerBackgroundScrollDark: rgba(91, 61, 153, 0.5);

$progressCircleBackgroundGradientDark: #060c35;
$progressCircleBackgroundLight: #ffffff;
$progressCircleBorderColorLight : rgba(225, 231, 246, 0.5);
$progressCircleBorderColorDark: rgba(19, 29, 84, 0.8);

//PROGRESS COMPONENT
$progressCircleShadow: 0px 13px 20px 0px rgba(188, 201, 219, 0.18);
$progressCircleShadowDark: 0px 13px 20px 0px rgba(0, 0, 0, 0.18);
$font-family: 'Inter', sans-serif;

