.containerWrapper {
  &.dark {
    background: rgba(17, 24, 62, 0.04);
  }
  &.light {
    color: #132C5E;
    background: rgba(255, 255, 255, 0.05);
  }
}

blockquote.short {
  font-size: larger;
  margin: 1rem 0;
  font-style: italic;
}

.sectionItemsWrapper {
  max-height: 60vh;
  overflow: auto;
  /* Hide scrollbar for Chrome, Edge, and Safari */
  //&::-webkit-scrollbar {
  // display: none;
  //}
  ///* Hide scrollbar for IE, Edge, and Firefox */
  //-ms-overflow-style: none; /* Internet Explorer 10+ */
  //scrollbar-width: none; /* Firefox */
  /* Clip the content including the scrollbar */
  clip-path: inset(0 round 30px); /* Match the border radius */

  &.customScrollbar {
    /* Custom scrollbar styles */
    &::-webkit-scrollbar {
      width: 16px;
    }

    &.dark {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.75);
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &.light {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

  }
}