
.sectionTitle {
  font-size: 32px;
  line-height: 38px;
  padding: 0 1rem;
  @media (max-width: 460px) {
    font-size: 24px;
    line-height: 28px;
  }

  font-weight: bold;
  &.light {
    color: #132C5E;
  }
  &.dark {
    color: #ffffff;
  }
}
